.loader{
    
}

body{
    padding: 0px;
}
.navbar-menu{
     margin-left: 40%;
}

.heading1{
    padding-top: 150px;
   
    padding-left: 80px;
    padding-right: 20px;
    

}

@media (max-width:400px){
    .heading1{
        padding-left: 20px;
        display: flex;
        justify-content: start;

    }
    .subhead{
        display: flex;
        flex-wrap: wrap;
    }
}

.head{
    font-size: 40px;
}

.gritup{
    color: #6811D7;
}

.animation{
    display: flex;
    justify-content: end;
    margin-top: -400px;
    padding-right: 40px;
}

@media (max-width:1000px){
    .animation{
        display: none;
        visibility: hidden;
    }
}
.home{
    
    background-image: url(./assests/bg.png) ;
    height: 550px;
    
    
    
    
}
.next{
    display: flex;
    padding-top: 20px;
}
.logoo{
    padding-top: 80px;
    padding-left: 20px;
}
@media (max-width:1000px){
    .logoo{
        display: none;
        visibility: hidden;
    }
    video{
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        
        
    }
    .home{
    
        background-image: url(./assests/bg.png) ;
        height: 580px;
}
.next{
    display: flex;
    justify-content: center;
}

}
.video {
    padding-top: 0px;
    width: 600px;
    height: 400px
}

@media (min-width:800px){
    .subhead{
        padding-right: 60%;
      }  
}

.subhead{
    text-align: left;
}


  